@import "mixins";
@import "map";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  height: 350px;
  background-color: $container-color;
  border-radius: 10px;
  text-align: center;
  @include respond-to("large") {
    width: 540px;
    height: 380px;
  }
  &__advice {
    color: $neon-green;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.46px;
    margin-top: 40px;
    margin-bottom: 24px;
    @include respond-to("large") {
      margin-top: 48px;
      font-size: 13px;
      letter-spacing: 4px;
    }
  }
  &__text {
    font-size: 24px;
    margin: 0 24px;
    @include respond-to("large") {
      margin: 0 48px;
      font-size: 28px;
    }
  }
  &__divider {
    margin-top: 24px;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    @include respond-to("large") {
      margin-top: 40px;
      width: 90%;
    }
  }
  &__btn {
    margin-top: 32px;
    width: 64px;
    height: 64px;
    background-color: $neon-green;
    border: none;
    border-radius: 50%;
    background-image: url(/images/icon-dice.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    @include respond-to("large") {
      margin-top: 40px;
    }
    &:hover,
    &:focus {
      -webkit-box-shadow: 0 0 25px 2px $neon-green;
      -moz-box-shadow: 0 0 25px 2px $neon-green;
      box-shadow: 0 0 25px 2px $neon-green;
    }
  }
}
